---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
.card {
	text-align: center;
	font-size: 0.9em;
	display: inline-block;
	background-color: beige;
	padding: 0.5em;
	border-radius: 10px;
	width: 95%;
	word-wrap: break-word;
	margin-bottom: 0.25em;
}
.card:hover {
	background-color: beige;
	border: 1px solid burlywood;
}
.card img, .textcard img {
	align: center;
}

.textcard img { 
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.textcard-white img { 
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.textcard {
	font-size: 0.9em;
	display: inline-block;
	background-color: beige;
	padding: 0.5em;
	border-radius: 10px;
	width: 98%;
	word-wrap: break-word;
	margin: 0.25em;
  -moz-box-shadow:    3px 3px 3px rgba(33,33,33,1); 	/* Firefox */
  -webkit-box-shadow: 3px 3px 3px rgba(33,33,33,.7);   /* Safari+Chrome */
  box-shadow:         3px 3px 3px rgba(33,33,33,.7);   /* Opera */
}

.textcard-almond {
	font-size: 0.9em;
	display: inline-block;
	background-color: #eee0cb; /* almond */
	padding: 0.5em;
	border-radius: 10px;
	width: 95%;
	word-wrap: break-word;
	margin: 0.5em;
  -moz-box-shadow:3px 3px 5px rgba(33,33,33,1); 	/* Firefox */
  -webkit-box-shadow: 3px 3px 5px rgba(33,33,33,.7);   /* Safari+Chrome */
  box-shadow: 3px 3px 5px rgba(33,33,33,.7);   /* Opera */
}

.textcard-white {
	font-size: 0.9em;
	display: inline-block;
	background-color: #fff;
	padding: 0.5em;
	border-radius: 10px;
	width: 98%;
	word-wrap: break-word;
	margin: 0.25em;
	list-style: none;
  -moz-box-shadow:    3px 3px 5px rgba(33,33,33,1); 	/* Firefox */
  -webkit-box-shadow: 3px 3px 5px rgba(33,33,33,.7);   /* Safari+Chrome */
  box-shadow:         3px 3px 5px rgba(33,33,33,.7);   /* Opera */
}

.stickynote {
	font-size: 0.9em;
	display: inline-block;
	background-color: #ffde00; /* lemon */
	padding: 0.5em;
	border-radius: 10px;
	width: 95%;
	word-wrap: break-word;
	margin: 0.5em;
  -moz-box-shadow:3px 3px 5px rgba(33,33,33,1); 	/* Firefox */
  -webkit-box-shadow: 3px 3px 5px rgba(33,33,33,.7);   /* Safari+Chrome */
  box-shadow: 3px 3px 5px rgba(33,33,33,.7);   /* Opera */
}

.textcard-inviso {
	font-size: 0.9em;
	display: inline-block;
	/* background-color: #fff; */
	padding: 0.5em;
	border-radius: 10px;
	width: 95%;
	word-wrap: break-word;
	margin-bottom: 0.25em;

	/* Firefox */
  -moz-box-shadow:3px 3px 5px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 3px 3px 5px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 3px 3px 5px rgba(33,33,33,.7);
}

/* ------------ zoom on hover ------------ */
.zoomable img {
	transition: transform 0.2s;
}
.zoomable img:hover {
	transform: scale(1.5);
}

/* ------------ zoom on hover, alternative layout ------------ */
img.zoomable {
	transition: transform 0.2s;
}
img.zoomable:hover {
	transform: scale(2.0);
}

/* test */

.site-nav {
	float: right;
	line-height: 40px;
}
.gsc-search-box, .gsc-search-box-tools {
	border: none;
}
.gsc-result-info {
    display: none; }

.gcsc-branding {
    display: none; }

.gsc-thumbnail {
    display: none; }

.gs-snippet { 
    display: none; }

.gs-title a { 
    font-size: 14px; }

.gs-snippet {
    font-size: 12px; }

.gs-title b, .gs-snippet b {
    font-weight: normal; }

/* Do no display the URL of web pages in search results */
.gsc-url-top, .gsc-url-bottom {
    display: none; }

/* Highlight the pagination buttons at the bottom of search results */
.gsc-cursor-page {
    font-size: 1.5em;
    padding: 4px 8px;
    border: 1px solid #ccc; }

