---
layout: default
---

<div class="home">

  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  <!-- GOOGLE CUSTOM SEARCH OPTION. NOT CURRENTLY USED.
  <script async src="https://cse.google.com/cse.js?cx=008436745971355202997:c0hy395gjyo"></script>
  <div class="gcse-search"></div>  -->

  <!-- ALGOLIA SEARCH. NOT CURRENTLY USED.
  <div id="search-searchbar"></div>
  <div id="search-hits"></div> -->

  {% if site.posts.size > 0 -%}

    {%- assign recentposts = site.posts | sort: 'date' -%}
    {%- assign lastpost  = recentposts.last -%}
    
    <h2>Most Recent:</h2>
    <strong>
      <a href="{{ lastpost.url | relative_url }}">{{ lastpost.title | escape }}</a>
    </strong>&nbsp;
    <small>({{ lastpost.date | date: "%m/%-d/%Y" }})</small><br>
    <a href="{{ lastpost.url }}">{{ lastpost.excerpt }}</a><br>
    
    <br><br>
    <h2>Favorites & Collections - Sorted by Date:</h2>

    {%- assign sortedposts = site.posts | sort: 'date' | reverse -%}

    <div style="columns: 3;">
      {%- for post in sortedposts -%}

        <div class="textcard">
          <strong><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></strong><br>
          <small>({{ post.date | date: "%m/%d/%Y" }})</small><br>
        </div>
      
      {%- endfor -%}
    </div>

  {% endif %}
</div> <!-- of class=home -->

<p class="feed-subscribe">
  <a href="{{ 'feed.xml' | relative_url }}">
    <svg class="svg-icon orange">
      <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
    </svg>
    <span>Subscribe</span>
  </a>
</p>

{% include algolia.html %}