---
layout: default
---

<div class="home">

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <!-- GOOGLE CUSTOM SEARCH OPTION. NOT CURRENTLY USED.
  <script async src="https://cse.google.com/cse.js?cx=008436745971355202997:c0hy395gjyo"></script>
  <div class="gcse-search"></div>  -->

  <!-- ALGOLIA SEARCH. NOT CURRENTLY USED.
  <div id="search-searchbar"></div>
  <div id="search-hits"></div> -->

  {%- if site.posts.size > 0 -%}

  <!-- sort by date; display first one --> 
  {%- assign recentposts = site.posts | sort: 'date' -%}
  {%- assign recentpost  = recentposts.last -%}

  <h2>Most Recent:</h2>
    <a href="{{ post.url | relative_url }}">
    {{ recentpost.title | escape }}</a><br>


    <span style=" font-size: 0.9em;">
      posted: {{ recentpost.date | date: "%m/%-d/%Y" }} &nbsp; 
      tags: &nbsp; {{ recentpost.tags }}<br>
      <a href="{{ recentpost.url }}">{{ recentpost.excerpt }}</a>
    </span>


  <hr>

    <h2>By Title:</h2>

    <!-- try sorting by post title-->
    {%- assign sortedposts = site.posts | sort: 'title' -%}

    <div style="columns: 2; column-gap: 3px;">

    <!-- original: for post in site.posts -->
    {%- for post in sortedposts -%}
      
      <li class="textcard">
        <a href="{{ post.url | relative_url }}">
        {{ post.title | escape }}</a><br>

        <span style=" font-size: 0.8em; font-style: italic;">
          {{ post.date | date: "%m/%-d/%Y" }}
          &nbsp;
          {{ post.tags }}
          {%- if site.show_excerpts -%}
            <center> {{ post.excerpt }} </center>
          {%- endif -%}
        </span>  
      </li>
      
    {%- endfor -%}
  </div>
  {% endif %}
</div>

<p class="feed-subscribe">
  <a href="{{ 'feed.xml' | relative_url }}">
    <svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>Subscribe</span>
  </a>
</p>

{% include algolia.html %}