---
layout: default
---

<div class="home">

  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  <!-- GOOGLE CUSTOM SEARCH OPTION. NOT CURRENTLY USED.
  <script async src="https://cse.google.com/cse.js?cx=008436745971355202997:c0hy395gjyo"></script>
  <div class="gcse-search"></div>  -->

  <!-- ALGOLIA SEARCH. NOT CURRENTLY USED.
  <div id="search-searchbar"></div>
  <div id="search-hits"></div> -->

  {% if site.posts.size > 0 -%}

    {%- assign recentposts = site.posts | sort: 'date' -%}
    {%- assign lastpost  = recentposts.last -%}
    
    <h2>Most Recent:</h2>

    <div class="textcard">
      <a href="{{ lastpost.url | relative_url }}">{{ lastpost.title | escape }}</a> &nbsp;
      <small>({{ lastpost.date | date: "%m/%-d/%Y" }})</small><br>
      <a href="{{ lastpost.url }}">{{ lastpost.excerpt }}</a><br>
      {{ lastpost.tags }}
    </div>
   
    <!--
    <br>
    <h2>Stuff To Read @ Pocket:</h2>

      <a href="/ril_export/ril_export-2020-02-15-unread.html">unread (as of 2020/02/15)</a><br>
      <a href="/ril_export/ril_export-2020-02-15-archive.html">archive (as of 2020/02/15)</a><br>
    -->
    
    <br>
    <h2>Sorted by Title:</h2>

    {%- assign postsbytitle = site.posts | sort: 'title' -%}

    <div style="columns: 3; margin: 5px;">
      {%- for post in postsbytitle -%}

        <li class="textcard">
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a><br>
          {{ post.excerpt }}<br>
          <small>{{ post.tags }}</small><br>
        </li>
      
      {%- endfor -%}
    </div>

  {% endif %}
</div> <!-- of class=home -->

<p class="feed-subscribe">
  <a href="{{ 'feed.xml' | relative_url }}">
    <svg class="svg-icon orange">
      <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
    </svg>
    <span>Subscribe</span>
  </a>
</p>

{% include algolia.html %}